img {
  width: 30%;
  float: left;
  margin: 1.66%;
}

p {
  font-size: 23px;
  font-family: 'Contrail One',cursive;
  margin-left: 1.66%;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 2px solid lightgrey;
  width: 30%;
  padding-bottom: 5px;
}
